[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=LikeQQ
Exec=/opt/LikeQQ/bin/LikeQQ
Icon=LikeQQ64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
